# Copy this file to .env and fill in the values
# cp .env.example .env

# PostgreSQL password
DB_PASSWORD=Vi12sh@1234
# Gmail SMTP credentials for notification-service
MAIL_USERNAME=kbikesh700@gmail.com
MAIL_PASSWORD=Vi12shla@
